%h2 Listing items

%div.well
  %table.table
    %tr
      %th Name
      %th Description
      %th
        %div.text-center Image
      %th

    - @items.each do |item|
      %tr
        %td
          %div.text-left
            =link_to item.name, item_path(item)
      
        %td
          %div.text-left
            = item.description
        %td
          %div.text-left
            = image_tag item.avatar.url(:thumb)
        %td
          %div.btn-group
            %button.btn.btn-default{:type =>"button"}  
              = link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%div.btn-group
  %button.btn.btn-default{:type =>"button"}  
    = link_to 'New Item', new_item_path
%footer.row
  %section.col-md-4
    Copyright 2013
  %section.col-md-8
    All rights reserved.
